In [1]:
%run setup_notebook.ipynb

Successfully connected to universities database.

In [2]:
ls ../../../databases/universities_db/

__init__.py        create_tables.sql  seed_tables.sql

In [3]:
%sql -f ../../../databases/universities_db/create_tables.sql

[]

In [4]:
%%sql 

-- confirm that tables are created successfully 

SHOW TABLES;

[('country',),
 ('ranking_criteria',),
 ('ranking_system',),
 ('university',),
 ('university_ranking_year',),
 ('university_year',)]