In [1]:
%run helper/setup_notebook.ipynb import display_table

Successfully connected to leetcode50 database.

In [2]:
display_table('Customer')

+----+------+------------+
| id | name | referee_id |
+----+------+------------+
| 1  | Will |    None    |
| 2  | Jane |    None    |
| 3  | Alex |     2      |
| 4  | Bill |    None    |
| 5  | Zack |     1      |
| 6  | Mark |     2      |
+----+------+------------+

### Write an SQL query to report the names of the customer that are not referred by the customer with id = 2.

```
Output: 
+------+
| name |
+------+
| Will |
| Jane |
| Bill |
| Zack |
+------+
```

In [3]:
%%sql 

SELECT name
FROM Customer
WHERE referee_id != 2 OR referee_id IS NULL;

[('Will',), ('Jane',), ('Bill',), ('Zack',)]

# Using Pandas

In [4]:
# remove the Pylance warning for usage of % in python by adding # type: ignore
query = %sql SELECT * FROM Customer
df = query.DataFrame()
df

   id  name  referee_id
0   1  Will         NaN
1   2  Jane         NaN
2   3  Alex         2.0
3   4  Bill         NaN
4   5  Zack         1.0
5   6  Mark         2.0

In [5]:
# using filter

df.filter(items=['name']).loc[df['referee_id'] != 2]

   name
0  Will
1  Jane
3  Bill
4  Zack

In [6]:
df[df['referee_id'] != 2].name

0    Will
1    Jane
3    Bill
4    Zack
Name: name, dtype: object

In [7]:
df[df['referee_id'] != 2][['name']]

   name
0  Will
1  Jane
3  Bill
4  Zack

In [8]:
# using query 
df.query("referee_id != 2")[['name']]

   name
0  Will
1  Jane
3  Bill
4  Zack

In [9]:
# remove index 
df.query("referee_id !=2 ")[['name']].set_index('name', drop=True)

Empty DataFrame
Columns: []
Index: [Will, Jane, Bill, Zack]

# Test Results

In [10]:
from mysql_query_lab.tests.test_customer import test_output

output = df.query("referee_id !=2 ")[['name']]

try:
    test_output(output=output, df=df)
except AssertionError as e:
    print(e)

Test passed: Output matches the expected result.