In [1]:
%run helper/setup_notebook.ipynb import display_table

Successfully connected to leetcode50 database.

In [2]:
display_table('Tweets')

+----------+----------------------------------+
| tweet_id |             content              |
+----------+----------------------------------+
|    1     |          Vote for Biden          |
|    2     | Let us make America great again! |
+----------+----------------------------------+

### Write an SQL query to find the IDs of the invalid tweets. 

- *The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.*

```
+----------+
| tweet_id |
+----------+
| 2        |
+----------+
```

In [3]:
%%sql 

SELECT tweet_id 
FROM Tweets 
WHERE LENGTH(content) > 15;

[(2,)]

# Using Pandas

In [4]:
query = %sql SELECT * FROM Tweets # type: ignore
df = query.DataFrame()
df

   tweet_id                           content
0         1                    Vote for Biden
1         2  Let us make America great again!

## filter()

In [5]:
# using str and len method
df.filter(items=['tweet_id']).loc[df['content'].str.len() > 15]

   tweet_id
1         2

In [6]:
# using apply
df.filter(items=['tweet_id']).loc[df['content'].apply(len) > 15]

   tweet_id
1         2

## loc[]

In [7]:
df[['tweet_id']][df['content'].str.len() > 15]

   tweet_id
1         2

In [8]:
# using a UDF 
def get_length(col):
    return len(col)

df[['tweet_id']][df['content'].apply(get_length) > 15]

   tweet_id
1         2

## query()

In [9]:
df.query("content.str.len() > 15")[['tweet_id']]

   tweet_id
1         2

In [10]:
# remove index to match the MySQL output format
df.query("content.str.len() > 15")[['tweet_id']] \
    .set_index('tweet_id', drop=True)

Empty DataFrame
Columns: []
Index: [2]