In [1]:
%run helper/setup_notebook.ipynb import display_table

Successfully connected to leetcode50 database.

In [2]:
display_table('Views')

+------------+-----------+-----------+------------+
| article_id | author_id | viewer_id | view_date  |
+------------+-----------+-----------+------------+
|     1      |     3     |     5     | 2019-08-01 |
|     1      |     3     |     6     | 2019-08-02 |
|     2      |     7     |     7     | 2019-08-01 |
|     2      |     7     |     6     | 2019-08-02 |
|     4      |     7     |     1     | 2019-07-22 |
|     3      |     4     |     4     | 2019-07-21 |
|     3      |     4     |     4     | 2019-07-21 |
+------------+-----------+-----------+------------+

### Write an SQL query to find all the authors that viewed at least one of their own articles. Return the result table sorted by id in ascending order.
- *There is no primary key for this table, it may have duplicate rows.*

```
Output: 
+------+
| id   |
+------+
| 4    |
| 7    |
+------+

```

In [3]:
%%sql 

SELECT DISTINCT(author_id) AS id
FROM Views
WHERE author_id = viewer_id
ORDER BY author_id ASC

[(4,), (7,)]

# Using Pandas

In [4]:
query = %sql SELECT * FROM Views # type: ignore 
df = query.DataFrame()
df

   article_id  author_id  viewer_id   view_date
0           1          3          5  2019-08-01
1           1          3          6  2019-08-02
2           2          7          7  2019-08-01
3           2          7          6  2019-08-02
4           4          7          1  2019-07-22
5           3          4          4  2019-07-21
6           3          4          4  2019-07-21

## filter()

In [5]:
df.filter(items=['author_id']).loc[(df['author_id'] == df['viewer_id'])]

   author_id
2          7
5          4
6          4

In [6]:
# remove duplicate ids 
df.filter(items=['author_id']).loc[(df['author_id'] == df['viewer_id'])] \
    .drop_duplicates('author_id')

   author_id
2          7
5          4

In [7]:
# rename author_id column to id
df.filter(items=['author_id']).loc[(df['author_id'] == df['viewer_id'])] \
    .drop_duplicates('author_id') \
    .rename(columns={'author_id': 'id'})

   id
2   7
5   4

In [9]:
# sort values 
df.filter(items=['author_id']).loc[(df['author_id'] == df['viewer_id'])] \
    .drop_duplicates('author_id') \
    .rename(columns={'author_id': 'id'}) \
    .sort_values('id', ascending=True) # asceding= True is the default

   id
5   4
2   7

In [11]:
# remove the index to match MySQL output format
df.filter(items=['author_id']).loc[(df['author_id'] == df['viewer_id'])] \
    .drop_duplicates('author_id') \
    .rename(columns={'author_id': 'id'}) \
    .sort_values('id', ascending=True) \
    .set_index('id', drop=True)

Empty DataFrame
Columns: []
Index: [4, 7]

## loc[]

In [18]:
df[['author_id']][(df['author_id'] == df['viewer_id'])] \
    .rename(columns={'author_id': 'id'}) \
    .drop_duplicates('id') \
    .sort_values('id') \
    .set_index('id', drop=True)

Empty DataFrame
Columns: []
Index: [4, 7]

## query()

In [24]:
df.query("author_id == viewer_id")[['author_id']] \
    .rename(columns={'author_id': 'id'}) \
    .drop_duplicates('id') \
    .sort_values('id') \
    .set_index('id', drop=True)

Empty DataFrame
Columns: []
Index: [4, 7]