In [1]:
%run helper/setup_notebook.ipynb import display_table

Successfully connected to leetcode50 database.

In [2]:
display_table('Products')

+------------+----------+------------+
| product_id | low_fats | recyclable |
+------------+----------+------------+
|     0      |    Y     |     N      |
|     1      |    Y     |     Y      |
|     2      |    N     |     Y      |
|     3      |    Y     |     Y      |
|     4      |    N     |     N      |
+------------+----------+------------+

### Write an SQL query to find the ids of products that are both low fat and recyclable.

```
Output: 
+-------------+
| product_id  |
+-------------+
| 1           |
| 3           |
+-------------+
```

In [3]:
%%sql

SELECT product_id
FROM products 
WHERE low_fats = 'Y' and recyclable = 'Y';

[(1,), (3,)]

# Using Pandas

In [4]:
# remove the Pylance warning for usage of % in python by adding # type: ignore
query = %sql SELECT * FROM products # type: ignore
df = query.DataFrame()
df

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

## ***filter()***

In [5]:
df.filter(items=['product_id'])

   product_id
0           0
1           1
2           2
3           3
4           4

In [6]:
df.filter(items=['product_id']).loc[(df['low_fats'] == 'Y') & (df['recyclable'] == 'Y')]

   product_id
1           1
3           3

## ***loc[]***

In [7]:
df[df['low_fats'] == 'Y']

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
3           3        Y          Y

In [8]:
df[(df['low_fats'] == 'Y') & (df['recyclable'] == 'Y')]

   product_id low_fats recyclable
1           1        Y          Y
3           3        Y          Y

In [9]:
df[(df['low_fats'] == 'Y') & (df['recyclable'] == 'Y')].product_id

1    1
3    3
Name: product_id, dtype: int64

In [10]:
df[(df['low_fats'] == 'Y') & (df['recyclable'] == 'Y')][['product_id']]

   product_id
1           1
3           3

## ***query()***

In [11]:
df.query("low_fats == 'Y' and recyclable == 'Y' ")

   product_id low_fats recyclable
1           1        Y          Y
3           3        Y          Y

In [12]:
df.query("low_fats == 'Y' and recyclable == 'Y'")[['product_id']]

   product_id
1           1
3           3

### Remove index to match the output of the MySQL query.

In [13]:
# drop index
df.query("low_fats == 'Y' and recyclable == 'Y'")[['product_id']]\
    .set_index('product_id', drop=True)

Empty DataFrame
Columns: []
Index: [1, 3]

# Test Results

In [14]:
output = df.query("low_fats == 'Y' and recyclable == 'Y'")[['product_id']]

In [15]:
from mysql_query_lab.tests.test_products import test_output
test_output(output, df)

Test passed: Output matches the expected result.

# Test Results using Button widget

In [16]:
import ipywidgets as widgets
from IPython.display import display, clear_output

# Define the output widget
widget_output = widgets.Output()

# Define the function to run the tests
def run_tests(*args):
    """Runs the tests for the `products` module."""
    with widget_output:
        clear_output()
        try:
            test_output(output, df)
        except AssertionError as e:
            print(f"Test failed: {e}")
       
# Define the button and link it to the run_tests function
button = widgets.Button(description="Run Unit Tests")
button.on_click(callback=run_tests)

# Display the button and output widget
display(button, widget_output)

Button(description='Run Unit Tests', style=ButtonStyle())

Output()

![widget](../../assets/widget.png)