In [1]:
%run helper/setup_notebook.ipynb import display table

Successfully connected to leetcode50 database.

In [2]:
tables = ['Prices', 'UnitsSold']
for table in tables:
    display_table(table)

+------------+------------+------------+-------+
| product_id | start_date |  end_date  | price |
+------------+------------+------------+-------+
|     1      | 2019-02-17 | 2019-02-28 |   5   |
|     1      | 2019-03-01 | 2019-03-22 |   20  |
|     2      | 2019-02-01 | 2019-02-20 |   15  |
|     2      | 2019-02-21 | 2019-03-31 |   30  |
+------------+------------+------------+-------+
+------------+---------------+-------+
| product_id | purchase_date | units |
+------------+---------------+-------+
|     1      |   2019-02-25  |  100  |
|     1      |   2019-03-01  |   15  |
|     2      |   2019-02-10  |  200  |
|     2      |   2019-03-22  |   30  |
+------------+---------------+-------+

### Write an SQL query to find the average selling price for each product. average_price should be rounded to 2 decimal places.

```
+------------+---------------+
| product_id | average_price |
+------------+---------------+
| 1          | 6.96          |
| 2          | 16.96         |
+------------+---------------+
Explanation: 
Average selling price = Total Price of Product / Number of products sold.
Average selling price for product 1 = ((100 * 5) + (15 * 20)) / 115 = 6.96
Average selling price for product 2 = ((200 * 15) + (30 * 30)) / 230 = 16.96
```

In [49]:
%%sql 

SELECT 
    p.product_id, 
    ROUND((AVG(price * units) / avg(units)), 2) AS average_price
FROM prices p 
JOIN UnitsSold u ON u.product_id = p.product_id
WHERE purchase_date BETWEEN start_date AND end_date
GROUP BY product_id

[(1, Decimal('6.96')), (2, Decimal('16.96'))]