In [1]:
%run helper/setup_notebook.ipynb import display_table

Successfully connected to leetcode50 database.

In [2]:
tables = ['register', 'users']
for table in tables:
    display_table(table)

+------------+---------+
| contest_id | user_id |
+------------+---------+
|    207     |    2    |
|    208     |    2    |
|    208     |    6    |
|    208     |    7    |
|    209     |    2    |
|    209     |    6    |
|    209     |    7    |
|    210     |    2    |
|    210     |    6    |
|    210     |    7    |
|    215     |    6    |
|    215     |    7    |
+------------+---------+
+---------+-----------+
| user_id | user_name |
+---------+-----------+
|    2    |    Bob    |
|    6    |   Alice   |
|    7    |    Alex   |
+---------+-----------+

### Write an SQL query to find the percentage of the users registered in each contest rounded to two decimals.Return the result table ordered by percentage in descending order. In case of a tie, order it by  `contest_id` in `ascending` order.

```
+------------+------------+
| contest_id | percentage |
+------------+------------+
| 208        | 100.0      |
| 209        | 100.0      |
| 210        | 100.0      |
| 215        | 66.67      |
| 207        | 33.33      |
+------------+------------+
Explanation: 
All the users registered in contests 208, 209, and 210. The percentage is 100% and we sort them in the answer table by contest_id in ascending order.
Alice and Alex registered in contest 215 and the percentage is ((2/3) * 100) = 66.67%
Bob registered in contest 207 and the percentage is ((1/3) * 100) = 33.33%
```

In [3]:
%%sql 

SELECT contest_id, COUNT(contest_id) AS contest_count 
FROM users u 
JOIN register r ON r.user_id = u.user_id
GROUP BY contest_id

[(207, 1), (208, 3), (209, 3), (210, 3), (215, 2)]

In [5]:
%%sql 

SELECT contest_id, (SELECT COUNT(user_id) FROM users) AS user_count
FROM users u 
JOIN register r ON r.user_id = u.user_id
GROUP BY contest_id

[(207, 3), (208, 3), (209, 3), (210, 3), (215, 3)]

In [7]:
%%sql 

SELECT contest_id, ROUND((COUNT(contest_id) / (SELECT COUNT(user_id) FROM users)) * 100, 2) AS percentage
FROM users u 
JOIN register r ON r.user_id = u.user_id
GROUP BY contest_id
ORDER BY percentage DESC, contest_id

[(208, Decimal('100.00')),
 (209, Decimal('100.00')),
 (210, Decimal('100.00')),
 (215, Decimal('66.67')),
 (207, Decimal('33.33'))]

# Using Pandas