In [1]:
%run helper/setup_notebook.ipynb import display_table

Successfully connected to leetcode50 database.

In [2]:
display_table('Followers')

+---------+-------------+
| user_id | follower_id |
+---------+-------------+
|    0    |      1      |
|    1    |      0      |
|    2    |      0      |
|    2    |      1      |
+---------+-------------+

### Write an SQL query that will, for each user, return the number of followers. Return the result table ordered by user_id in ascending order.
```
+---------+----------------+
| user_id | followers_count|
+---------+----------------+
| 0       | 1              |
| 1       | 1              |
| 2       | 2              |
+---------+----------------+
Explanation: 
The followers of 0 are {1}
The followers of 1 are {0}
The followers of 2 are {0,1}
```

In [3]:
%%sql 

SELECT 
    user_id,
    COUNT(follower_id) AS followers_count
FROM Followers 
GROUP BY user_id
ORDER BY user_id;

[(0, 1), (1, 1), (2, 2)]

# Using Pandas

In [4]:
followers_query = %sql SELECT * FROM Followers # type: ignore 
followers_df = followers_query.DataFrame()

display(followers_df)

   user_id  follower_id
0        0            1
1        1            0
2        2            0
3        2            1

In [5]:
followers_df.groupby('user_id').agg({'follower_id': 'count'})

         follower_id
user_id
0                  1
1                  1
2                  2

In [6]:
final_df = followers_df.groupby('user_id').agg(followers_count=('follower_id', 'count'))
final_df

         followers_count
user_id
0                      1
1                      1
2                      2

In [7]:
final_df.reset_index()

   user_id  followers_count
0        0                1
1        1                1
2        2                2

#### The `agg()` function provides flexibility in specifying the aggregation functions and column names by accepting a dictionary or a list of tuples.

#### When you pass a dictionary to the `agg()` function, the keys represent the column names you want in the resulting DataFrame, and the values represent the corresponding aggregation functions you want to apply to each column.

#### For example, in the expression `agg({'follower_id': 'count'})`, the key `'follower_id'` is the name of the resulting column, and the value `'count'` is the aggregation function to be applied to the `'follower_id'` column. In this case, `'count'` is used to count the number of non-null values in the `'follower_id'` column.

#### By providing a dictionary as an argument to `agg()`, you can specify multiple columns and their corresponding aggregation functions in a single operation.

#### Additionally, you can also use a list of tuples instead of a dictionary to achieve the same result. For example, `agg([('follower_id', 'count')])` is equivalent to `agg({'follower_id': 'count'})`.

In [8]:
df = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                   'B': [10, 20, 30, 40, 50],
                   'C': [100, 200, 300, 400, 500]})

# sum of each column
df.agg('sum')

A      15
B     150
C    1500
dtype: int64

In [9]:
# sum and mean of each column
df.agg(['sum', 'mean'])

         A      B       C
sum   15.0  150.0  1500.0
mean   3.0   30.0   300.0

In [10]:
# Using dictionary mapping column names to functions
df.agg({'A': 'sum', 'B': 'mean', 'C': lambda x: x.max() - x.min()})

A     15.0
B     30.0
C    400.0
dtype: float64