In [1]:
%run helper/setup_notebook.ipynb import display_table

Successfully connected to leetcode50 database.

In [3]:
tables = ['Product', 'Sales']
for table in tables:
    display_table(table)

+------------+--------------+
| product_id | product_name |
+------------+--------------+
|    100     |    Nokia     |
|    200     |    Apple     |
|    300     |   Samsung    |
+------------+--------------+
+---------+------------+------+----------+-------+
| sale_id | product_id | year | quantity | price |
+---------+------------+------+----------+-------+
|    1    |    100     | 2008 |    10    |  5000 |
|    2    |    100     | 2009 |    12    |  5000 |
|    7    |    200     | 2011 |    15    |  9000 |
+---------+------------+------+----------+-------+

### Write an SQL query that selects the product id, year, quantity, and price for the first year of every product sold.
```
+------------+------------+----------+-------+
| product_id | first_year | quantity | price |
+------------+------------+----------+-------+ 
| 100        | 2008       | 10       | 5000  |
| 200        | 2011       | 15       | 9000  |
+------------+------------+----------+-------+
```

In [12]:
%%sql 

SELECT 
    p.product_id,
    s.year AS first_year,
    s.quantity,
    s.price 
FROM Product p
RIGHT JOIN Sales s ON p.product_id = s.product_id
WHERE (p.product_id,s.year) IN (
    SELECT product_id,MIN(year) 
    FROM Sales 
    GROUP BY product_id)

[(100, 2008, 10, 5000), (200, 2011, 15, 9000)]