In [1]:
%run helper/setup_notebook.ipynb import display_table

Successfully connected to leetcode50 database.

In [2]:
display_table('Triangle')

+----+----+----+
| x  | y  | z  |
+----+----+----+
| 10 | 20 | 15 |
| 13 | 15 | 30 |
+----+----+----+

### Write an SQL query to report for every three line segments whether they can form a triangle.
```
+----+----+----+----------+
| x  | y  | z  | triangle |
+----+----+----+----------+
| 13 | 15 | 30 | No       |
| 10 | 20 | 15 | Yes      |
+----+----+----+----------+
```

In [3]:
%%sql 

SELECT 
    x,
    y,
    z,
    CASE WHEN x+y > z AND x+z> y AND y+z > x THEN 'Yes' ELSE 'No' END AS triangle
FROM Triangle;

[(10, 20, 15, 'Yes'), (13, 15, 30, 'No')]

In [4]:
%%sql 

-- using IF 
SELECT 
    x,
    y,
    z,
    IF(x+y > z AND x+z> y AND y+z > x, 'Yes', 'No') AS triangle
FROM Triangle;

[(10, 20, 15, 'Yes'), (13, 15, 30, 'No')]

# Using Pandas

In [5]:
import pandas as pd 
import numpy as np

In [6]:
triangle_query = %sql SELECT * FROM Triangle # type: ignore
triangle_df = triangle_query.DataFrame()

display(triangle_df)

    x   y   z
0  10  20  15
1  13  15  30

In [7]:
triangle_df['triangle'] = np.where((triangle_df['x'] + triangle_df['y'] > triangle_df['z']) &
                                   (triangle_df['x'] + triangle_df['z'] > triangle_df['y']) &
                                   (triangle_df['y'] + triangle_df['z'] > triangle_df['x'])
                                   , 'Yes', 'No')
triangle_df

    x   y   z triangle
0  10  20  15      Yes
1  13  15  30       No

### Using apply()

In [8]:
def is_triangle(df):
    x, y, z = df['x'], df['y'], df['z']
    return 'Yes' if x + y > z and x + z > y and y + z > x else 'No'

# axis=1 is specified to apply the function row-wise
triangle_df.apply(is_triangle, axis=1)

0    Yes
1     No
dtype: object

In [9]:
triangle_df['triangle'] = triangle_df.apply(is_triangle, axis=1)
triangle_df

    x   y   z triangle
0  10  20  15      Yes
1  13  15  30       No

# Notes

#### By default, `apply()` applies function column-wise(axis=0). For a Series, the function is applied element-wise.

In [10]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Applying the square root function element-wise to column 'A'
df['A'].apply(lambda x: x ** 0.5)

0    1.000000
1    1.414214
2    1.732051
Name: A, dtype: float64

In [11]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# User-defined function to calculate the sum of each row
def sum_row(row):
    return row['A'] + row['B']

# Applying the function row-wise
df.apply(sum_row, axis=1)

0    5
1    7
2    9
dtype: int64

In [12]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

def product_cols(a, b):
    return a * b

# Applying the function to columns 'A' and 'B'
df.apply(lambda row: product_cols(row['A'], row['B']), axis=1)

0     4
1    10
2    18
dtype: int64