In [1]:
%run helper/setup_notebook.ipynb import display_table

Successfully connected to leetcode50 database.

In [2]:
display_table('Employee')

+-------------+---------------+--------------+
| employee_id | department_id | primary_flag |
+-------------+---------------+--------------+
|      1      |       1       |      N       |
|      2      |       1       |      Y       |
|      2      |       2       |      N       |
|      3      |       3       |      N       |
|      4      |       2       |      N       |
|      4      |       3       |      Y       |
|      4      |       4       |      N       |
+-------------+---------------+--------------+

#### *Employees can belong to multiple departments. When the employee joins other departments, they need to decide which department is their primary department. Note that when an employee belongs to only one department, their primary column is 'N'.*

### Write an SQL query to report all the employees with their primary department. For employees who belong to one department, report their only department.
```
+-------------+---------------+
| employee_id | department_id |
+-------------+---------------+
| 1           | 1             |
| 2           | 1             |
| 3           | 3             |
| 4           | 3             |
+-------------+---------------+
Explanation: 
- The Primary department for employee 1 is 1.
- The Primary department for employee 2 is 1.
- The Primary department for employee 3 is 3.
- The Primary department for employee 4 is 3.
```

In [3]:
%%sql 

SELECT 
    employee_id, 
    department_id 
FROM Employee 
WHERE employee_id NOT IN (
    SELECT employee_id 
    FROM Employee 
    WHERE primary_flag='Y'
    );

[(1, 1), (3, 3)]

In [4]:
%%sql 

SELECT 
    employee_id, 
    department_id
FROM Employee
WHERE primary_flag = 'Y'

[(2, 1), (4, 3)]

In [5]:
%%sql 

(SELECT 
    employee_id,
    department_id
FROM Employee
WHERE employee_id NOT IN (
    SELECT employee_id
    FROM Employee
    WHERE primary_flag = 'Y')
)

UNION 

(SELECT 
    employee_id,
    department_id
FROM Employee
WHERE primary_flag = 'Y')
ORDER BY employee_id;

[(1, 1), (2, 1), (3, 3), (4, 3)]