In [1]:
%run helper/setup_notebook.ipynb import display_table

Successfully connected to leetcode50 database.

In [2]:
display_table('Activities')

+------------+------------+
| sell_date  |  product   |
+------------+------------+
| 2020-05-30 | Headphone  |
| 2020-06-01 |   Pencil   |
| 2020-06-02 |    Mask    |
| 2020-05-30 | Basketball |
| 2020-06-01 |   Bible    |
| 2020-06-02 |    Mask    |
| 2020-05-30 |  T-Shirt   |
+------------+------------+

### Find for each date the number of different products sold and their names.The sold products names for each date should be sorted lexicographically. Return the result table ordered by sell_date.

```
+------------+----------+------------------------------+
| sell_date  | num_sold | products                     |
+------------+----------+------------------------------+
| 2020-05-30 | 3        | Basketball,Headphone,T-shirt |
| 2020-06-01 | 2        | Bible,Pencil                 |
| 2020-06-02 | 1        | Mask                         |
+------------+----------+------------------------------+
Explanation: 
For 2020-05-30, Sold items were (Headphone, Basketball, T-shirt), we sort them lexicographically and separate them by a comma.
For 2020-06-01, Sold items were (Pencil, Bible), we sort them lexicographically and separate them by a comma.
For 2020-06-02, the Sold item is (Mask), we just return it.
```

In [3]:
%%sql 

SELECT 
    sell_date, 
    COUNT(DISTINCT product) AS num_sold
FROM Activities
GROUP BY sell_date
ORDER BY sell_date;

[(datetime.date(2020, 5, 30), 3),
 (datetime.date(2020, 6, 1), 2),
 (datetime.date(2020, 6, 2), 1)]

In [5]:
%%sql 

SELECT 
    sell_date, 
    COUNT(DISTINCT product) AS num_sold, 
    GROUP_CONCAT(product) AS products
FROM Activities
GROUP BY sell_date
ORDER BY sell_date;

[(datetime.date(2020, 5, 30), 3, 'Headphone,Basketball,T-Shirt'),
 (datetime.date(2020, 6, 1), 2, 'Pencil,Bible'),
 (datetime.date(2020, 6, 2), 1, 'Mask,Mask')]

In [6]:
%%sql 

SELECT 
    sell_date, 
    COUNT(DISTINCT product) AS num_sold, 
    GROUP_CONCAT(DISTINCT product) AS products
FROM Activities
GROUP BY sell_date
ORDER BY sell_date;

[(datetime.date(2020, 5, 30), 3, 'Basketball,Headphone,T-Shirt'),
 (datetime.date(2020, 6, 1), 2, 'Bible,Pencil'),
 (datetime.date(2020, 6, 2), 1, 'Mask')]