In [1]:
%run helper/setup_notebook.ipynb import display_table

Successfully connected to leetcode50 database.

In [2]:
display_table('Employee')

+----+--------+
| id | salary |
+----+--------+
| 1  |  100   |
| 2  |  200   |
| 3  |  300   |
+----+--------+

### Find the second highest salary from the Employee table. If there is no second highest salary, return null.

```
+---------------------+
| SecondHighestSalary |
+---------------------+
| 200                 |
+---------------------+
```

In [7]:
%%sql 
-- Fails the test case
SELECT 
    IFNULL(salary, null) AS SecondHighestSalary
FROM Employee 
ORDER BY salary DESC 
LIMIT 1 OFFSET 1;

[(200,)]

The `IFNULL()` takes two arguments: the first argument is the value to be checked, and the second argument is the value to be returned if the first argument is NULL.

```sql
IFNULL(expression, value)
```

- `expression`: This is the value or column you want to check for NULL.
- `value`: This is the value to be returned if the expression is NULL.

The `IFNULL()` function evaluates the expression. If the expression is not NULL, it returns the value of the expression as is. However, if the expression is NULL, it returns the specified value instead.

In [10]:
%%sql 

SELECT 
    IFNULL(null, (
        SELECT 
            salary 
        FROM Employee 
        ORDER BY salary DESC 
        LIMIT 1 OFFSET 1)
    ) AS SecondHighestSalary

[(200,)]