In [1]:
%run helper/setup_notebook.ipynb import display_table

Successfully connected to leetcode50 database.

In [2]:
tables = ['Products', 'Orders']
for table in tables:
    display_table(table)

+------------+-----------------------+------------------+
| product_id |      product_name     | product_category |
+------------+-----------------------+------------------+
|     1      |   Leetcode Solutions  |       Book       |
|     2      | Jewels of Stringology |       Book       |
|     3      |           HP          |      Laptop      |
|     4      |         Lenovo        |      Laptop      |
|     5      |      Leetcode Kit     |     T-shirt      |
+------------+-----------------------+------------------+
+------------+------------+------+
| product_id | order_date | unit |
+------------+------------+------+
|     1      | 2020-02-05 |  60  |
|     1      | 2020-02-10 |  70  |
|     2      | 2020-01-18 |  30  |
|     2      | 2020-02-11 |  80  |
|     3      | 2020-02-17 |  2   |
|     3      | 2020-02-24 |  3   |
|     4      | 2020-03-01 |  20  |
|     4      | 2020-03-04 |  30  |
|     4      | 2020-03-04 |  60  |
|     5      | 2020-02-25 |  50  |
|     5      | 2020-02-27 |  50  |
|     5      | 2020-03-01 |  50  |
+------------+------------+------+

### Write an SQL query to get the names of products that have at least 100 units ordered in February 2020 and their amount.
```
+--------------------+---------+
| product_name       | unit    |
+--------------------+---------+
| Leetcode Solutions | 130     |
| Leetcode Kit       | 100     |
+--------------------+---------+
Explanation: 
Products with product_id = 1 is ordered in February a total of (60 + 70) = 130.
Products with product_id = 2 is ordered in February a total of 80.
Products with product_id = 3 is ordered in February a total of (2 + 3) = 5.
Products with product_id = 4 was not ordered in February 2020.
Products with product_id = 5 is ordered in February a total of (50 + 50) = 100.
```

In [4]:
%%sql 

SELECT 
    product_id, SUM(unit) AS unit
FROM Orders
GROUP BY product_id;

[(1, Decimal('130')),
 (2, Decimal('110')),
 (3, Decimal('5')),
 (4, Decimal('110')),
 (5, Decimal('150'))]

In [6]:
%%sql 

SELECT 
    product_name, 
    SUM(unit) AS unit
FROM Orders o
JOIN Products p ON o.product_id = p.product_id
GROUP BY product_name;

[('Leetcode Solutions', Decimal('130')),
 ('Jewels of Stringology', Decimal('110')),
 ('HP', Decimal('5')),
 ('Lenovo', Decimal('110')),
 ('Leetcode Kit', Decimal('150'))]

In [7]:
%%sql 

SELECT 
    product_name, 
    SUM(unit) AS unit
FROM Orders o
JOIN Products p ON o.product_id = p.product_id
GROUP BY product_name
HAVING SUM(unit) >= 100;

[('Leetcode Solutions', Decimal('130')),
 ('Jewels of Stringology', Decimal('110')),
 ('Lenovo', Decimal('110')),
 ('Leetcode Kit', Decimal('150'))]

In [9]:
%%sql 

SELECT 
    SUBSTR(order_date, 1, 7)
FROM Orders
LIMIT 3;

[('2020-02',), ('2020-02',), ('2020-01',)]

In [10]:
%%sql 

SELECT 
    product_name, 
    SUM(unit) AS unit
FROM Orders o
JOIN Products p ON o.product_id = p.product_id
WHERE SUBSTR(order_date, 1, 7) = '2020-02'
GROUP BY product_name
HAVING SUM(unit) >= 100;

[('Leetcode Solutions', Decimal('130')), ('Leetcode Kit', Decimal('100'))]