In [1]:
# Import necessary libraries
import os
from dotenv import load_dotenv

# Load environment variables from .env file located in the project root
dotenv_path = os.path.join(os.path.dirname(os.getcwd()), '.env')
load_dotenv(dotenv_path=dotenv_path)

# Get database connection details
db_user = os.getenv("MYSQL_USER")
db_password = os.getenv("MYSQL_PASSWORD")
db_name = os.getenv("MYSQL_DATABASE")
db_host = os.getenv("DB_HOST", "127.0.0.1")
db_port = os.getenv("DB_PORT", "3307") # Use the correct host port

# Construct the database connection URL
# This variable 'db_url' will be passed explicitly to each SQL command
db_url = f"mysql+mysqlconnector://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"

print("Environment variables loaded.")

Environment variables loaded.

In [2]:
# Load the ipython-sql extension
%load_ext sql

In [3]:
# Optional: You can still try the initial connection for feedback, but it's not strictly needed
# as we will pass the connection string explicitly later.
try:
    %sql {db_url}
    print("Initial connection check successful (optional).")
except Exception as e:
    print(f"Initial connection check failed (optional): {e}")
    # This failure might not prevent subsequent cells from working if db_url is correct.

Initial connection check successful (optional).

In [4]:
%%sql {db_url}

SELECT *
FROM departments
LIMIT 5;

5 rows affected.

[('d009', 'Customer Service'),
 ('d005', 'Development'),
 ('d002', 'Finance'),
 ('d003', 'Human Resources'),
 ('d001', 'Marketing')]

In [5]:
%sql {db_url} SELECT COUNT(*) AS total_departments FROM departments;

1 rows affected.

[(9,)]