In [1]:
%run setup_notebook.ipynb

Successfully connected to py_brew database.

In [2]:
%sql -f ../../../databases/py_brew_db/create_tables.sql

[]

In [3]:
%%sql 

-- confirm that tables are created successfully 

SHOW TABLES;

[('dim_customer',), ('dim_date',), ('dim_product',), ('fact_sales',)]

In [4]:
%%sql 

SHOW COLUMNS FROM dim_date;

[('date_id', b'int', 'NO', 'PRI', None, ''),
 ('tmstp', b'timestamp', 'NO', '', None, ''),
 ('date', b'date', 'NO', '', None, ''),
 ('day_of_week', b'varchar(10)', 'NO', '', None, ''),
 ('month', b'varchar(10)', 'NO', '', None, ''),
 ('year', b'int', 'NO', '', None, '')]

In [5]:
%%sql 

SELECT *
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE TABLE_NAME = 'dim_date';

[('def', 'py_brew', 'dim_date', 'date', 3, None, 'NO', 'date', None, None, None, None, None, None, None, b'date', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'py_brew', 'dim_date', 'date_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, b'int', 'PRI', '', 'select,insert,update,references', '', '', None),
 ('def', 'py_brew', 'dim_date', 'day_of_week', 4, None, 'NO', 'varchar', 10, 40, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', b'varchar(10)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'py_brew', 'dim_date', 'month', 5, None, 'NO', 'varchar', 10, 40, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', b'varchar(10)', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'py_brew', 'dim_date', 'tmstp', 2, None, 'NO', 'timestamp', None, None, None, None, 0, None, None, b'timestamp', '', '', 'select,insert,update,references', '', '', None),
 ('def', 'py_brew', 'dim_date', 'year', 6, None, 'NO', 'int', None, None, 10, 0, None, None, None, b'int', '', '', 'select,insert,update,references', '', '', None)]