In [1]:
%run setup_notebook.ipynb

Successfully connected to py_brew database.

In [2]:
%sql -f ../../../databases/py_brew_db/create_tables.sql

[]

In [3]:
%%sql 

-- confirm that tables are created successfully 

SHOW TABLES;

[('dim_customer',), ('dim_date',), ('dim_product',), ('fact_sales',)]

In [13]:
%%sql 

SHOW COLUMNS FROM dim_date;

[('date_id', b'int', 'NO', 'PRI', None, ''),
 ('date', b'date', 'NO', '', None, ''),
 ('day_of_week', b'varchar(10)', 'NO', '', None, ''),
 ('month', b'varchar(10)', 'NO', '', None, ''),
 ('year', b'int', 'NO', '', None, '')]

In [16]:
%%sql 

SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE TABLE_NAME = 'dim_date';

[('date',), ('date_id',), ('day_of_week',), ('month',), ('year',)]