In [4]:
%run helper/setup_notebook.ipynb

Successfully connected to py_brew database.

In [9]:
%%sql 

SELECT COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'dim_product'

[('product_category', 'varchar', 50),
 ('product_id', 'int', None),
 ('product_name', 'varchar', 50),
 ('product_subcategory', 'varchar', 50)]

In [10]:
%%sql 

SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'dim_product'

[('product_category',),
 ('product_id',),
 ('product_name',),
 ('product_subcategory',)]