In [2]:
%run helper/setup_notebook.ipynb

Successfully connected to py_brew database.

In [3]:
%%sql 

SELECT COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'dim_product'

[('product_category', 'varchar', 50),
 ('product_id', 'varchar', 20),
 ('product_name', 'varchar', 50),
 ('product_price', 'decimal', None),
 ('product_subcategory', 'varchar', 50)]

In [4]:
%%sql 

SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'dim_product'

[('product_category',),
 ('product_id',),
 ('product_name',),
 ('product_price',),
 ('product_subcategory',)]

In [5]:
%%sql 

SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'dim_customer'

[('customer_city',), ('customer_id',), ('customer_name',), ('customer_state',)]

In [6]:
%%sql 

SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'fact_sales'

[('customer_id',),
 ('date_id',),
 ('product_id',),
 ('sales_amount',),
 ('sales_id',)]