In [1]:
%run 00_display_tables.ipynb import captured_output

Successfully connected to py_brew database.
+-------------+-------------------+---------------+----------------+
| customer_id |   customer_name   | customer_city | customer_state |
+-------------+-------------------+---------------+----------------+
|     100     | Jennifer Gonzalez |   Smithland   |    Arkansas    |
+-------------+-------------------+---------------+----------------+
+---------+---------------------+------------+-------------+-------+------+
| date_id |        tmstp        |    date    | day_of_week | month | year |
+---------+---------------------+------------+-------------+-------+------+
|    1    | 2020-07-04 21:23:10 | 2020-07-04 |      4      |   7   | 2020 |
+---------+---------------------+------------+-------------+-------+------+
+------------------+------------------+---------------------+--------------+---------------+
|    product_id    | product_category | product_subcategory | product_name | product_price |
+------------------+------------------+---------------------+--------------+---------------+
| COL:ICE:COL:1048 |  Cold Beverages  |     Iced Coffee     |  Cold Brew   |      4.50     |
+------------------+------------------+---------------------+--------------+---------------+
+----------+--------------+-------------+---------+------------------+
| sales_id | sales_amount | customer_id | date_id |    product_id    |
+----------+--------------+-------------+---------+------------------+
|  100000  |    23.64     |     629     |   888   | HOT:TEA:EAR:1339 |
+----------+--------------+-------------+---------+------------------+

## Calculate the total revenue of each product for the past quarter (90 days)

In [2]:
%%sql 

SELECT  
    p.product_name,
    SUM(s.sales_amount) AS product_sales_total, 
    MONTHNAME(d.date) AS sale_month
FROM fact_sales s 
JOIN dim_date d ON s.date_id = d.date_id
JOIN dim_product p ON s.product_id = p.product_id
WHERE d.date >= DATE_SUB(CURDATE(), INTERVAL 90 DAY)
GROUP BY product_name, sale_month
ORDER BY product_sales_total DESC
LIMIT 10

[('PyBrew I Wish You Were Here Mug 12oz', Decimal('746.03'), 'April'),
 ('French Press', Decimal('551.47'), 'March'),
 ('Dripper', Decimal('499.42'), 'March'),
 ('PyBrew Texas Edition Mug 36oz', Decimal('489.42'), 'April'),
 ('Iced Chai Tea', Decimal('458.44'), 'March'),
 ('Iced Mocha', Decimal('453.75'), 'March'),
 ('French Press', Decimal('405.86'), 'April'),
 ('Iced Mocha', Decimal('396.00'), 'April'),
 ('PyBrew Texas Edition Mug 36oz', Decimal('388.66'), 'March'),
 ('PyBrew I Wish You Were Here Mug 12oz', Decimal('376.28'), 'March')]