In [1]:
%run 00_display_tables.ipynb

Successfully connected to py_brew database.
+-------------+-------------------+---------------+----------------+
| customer_id |   customer_name   | customer_city | customer_state |
+-------------+-------------------+---------------+----------------+
|     100     | Jennifer Gonzalez |   Smithland   |    Arkansas    |
+-------------+-------------------+---------------+----------------+
+---------+---------------------+------------+-------------+-------+------+
| date_id |        tmstp        |    date    | day_of_week | month | year |
+---------+---------------------+------------+-------------+-------+------+
|    1    | 2020-07-04 21:23:10 | 2020-07-04 |      4      |   7   | 2020 |
+---------+---------------------+------------+-------------+-------+------+
+------------------+------------------+---------------------+--------------+---------------+
|    product_id    | product_category | product_subcategory | product_name | product_price |
+------------------+------------------+---------------------+--------------+---------------+
| COL:ICE:COL:1048 |  Cold Beverages  |     Iced Coffee     |  Cold Brew   |      4.50     |
+------------------+------------------+---------------------+--------------+---------------+
+----------+--------------+-------------+---------+------------------+
| sales_id | sales_amount | customer_id | date_id |    product_id    |
+----------+--------------+-------------+---------+------------------+
|  100000  |    23.64     |     629     |   888   | HOT:TEA:EAR:1339 |
+----------+--------------+-------------+---------+------------------+

#### Determine the products that have experienced a significant increase in sales amount compared to the previous month. Consider a significant increase to be a growth rate of at least ***200%***. Include the product information and the corresponding months.

##### ***Hint: Combine window functions, filtering conditions, and calculations to identify products with a significant increase in sales amount compared to the previous month. Apply the growth rate threshold.***

In [6]:
%%sql

SELECT
    current_month.product_id,
    current_month.sale_month AS current_month,
    previous_month.sale_month AS previous_month,
    current_month.sales_amount AS current_sales,
    previous_month.sales_amount AS previous_sales,
    (current_month.sales_amount - previous_month.sales_amount) / previous_month.sales_amount AS growth_rate
FROM
    (
        SELECT
            s.product_id,
            MONTHNAME(d.date) AS sale_month,
            SUM(s.sales_amount) AS sales_amount
        FROM
            fact_sales s
            JOIN dim_date d ON s.date_id = d.date_id
        WHERE
            d.date >= DATE_SUB(CURDATE(), INTERVAL 2 MONTH)
        GROUP BY
            s.product_id,
            MONTH(d.date),
            d.date
    ) AS current_month
    JOIN
    (
        SELECT
            s.product_id,
            MONTHNAME(d.date) AS sale_month,
            SUM(s.sales_amount) AS sales_amount
        FROM
            fact_sales s
            JOIN dim_date d ON s.date_id = d.date_id
        WHERE
            d.date >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)
            AND d.date < DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
        GROUP BY
            s.product_id,
            MONTH(d.date),
            d.date
    ) AS previous_month ON current_month.product_id = previous_month.product_id
WHERE
    -- growth_rate >= 0.5
    (current_month.sales_amount - previous_month.sales_amount) / previous_month.sales_amount >= 2;

[('COL:ICE:ICE:1076', 'March', 'February', Decimal('47.81'), Decimal('13.89'), Decimal('2.442045')),
 ('HOT:TEA:BLA:1196', 'April', 'March', Decimal('48.07'), Decimal('11.54'), Decimal('3.165511')),
 ('HOT:TEA:CHA:1537', 'April', 'March', Decimal('16.65'), Decimal('5.00'), Decimal('2.330000')),
 ('RET:KIT:FRE:1737', 'April', 'April', Decimal('47.60'), Decimal('7.40'), Decimal('5.432432')),
 ('SNA:BAK:COO:1525', 'April', 'April', Decimal('31.86'), Decimal('6.52'), Decimal('3.886503')),
 ('SNA:BAK:CIN:1787', 'April', 'March', Decimal('30.69'), Decimal('6.00'), Decimal('4.115000')),
 ('RET:KIT:FRE:1202', 'April', 'March', Decimal('48.81'), Decimal('15.70'), Decimal('2.108917')),
 ('HOT:TEA:BLA:1953', 'April', 'February', Decimal('34.67'), Decimal('9.13'), Decimal('2.797371')),
 ('HOT:TEA:BLA:1953', 'March', 'February', Decimal('40.76'), Decimal('9.13'), Decimal('3.464403')),
 ('COL:ICE:ICE:1641', 'May', 'February', Decimal('37.48'), Decimal('7.67'), Decimal('3.886571')),
 ('COL:ICE:ICE:1528', 'March', 'March', Decimal('20.18'), Decimal('6.03'), Decimal('2.346600')),
 ('HOT:TEA:CHA:1495', 'April', 'April', Decimal('33.77'), Decimal('9.45'), Decimal('2.573545')),
 ('COL:ICE:ICE:1959', 'March', 'April', Decimal('44.07'), Decimal('14.36'), Decimal('2.068942')),
 ('HOT:COF:ESP:1870', 'April', 'April', Decimal('25.09'), Decimal('7.08'), Decimal('2.543785')),
 ('COL:ICE:ICE:1015', 'March', 'April', Decimal('45.80'), Decimal('8.93'), Decimal('4.128779')),
 ('COL:ICE:ICE:1015', 'May', 'April', Decimal('46.61'), Decimal('8.93'), Decimal('4.219485')),
 ('SNA:PAC:TRA:1324', 'March', 'April', Decimal('32.44'), Decimal('8.53'), Decimal('2.803048')),
 ('HOT:COF:ESP:1022', 'May', 'March', Decimal('40.01'), Decimal('9.09'), Decimal('3.401540')),
 ('RET:KIT:DRI:1304', 'April', 'April', Decimal('28.33'), Decimal('7.93'), Decimal('2.572509')),
 ('COL:ICE:ICE:1769', 'April', 'April', Decimal('29.70'), Decimal('5.08'), Decimal('4.846457')),
 ('HOT:TEA:BLA:1646', 'April', 'April', Decimal('29.89'), Decimal('8.62'), Decimal('2.467517')),
 ('RET:MUG:PYB:1244', 'March', 'March', Decimal('33.68'), Decimal('10.45'), Decimal('2.222967')),
 ('RET:MUG:PYB:1244', 'May', 'March', Decimal('37.13'), Decimal('10.45'), Decimal('2.553110'))]