In [1]:
%run 00_display_tables.ipynb

Successfully connected to py_brew database.
+-------------+-------------------+---------------+----------------+
| customer_id |   customer_name   | customer_city | customer_state |
+-------------+-------------------+---------------+----------------+
|     100     | Jennifer Gonzalez |   Smithland   |    Arkansas    |
+-------------+-------------------+---------------+----------------+
+---------+---------------------+------------+-------------+-------+------+
| date_id |        tmstp        |    date    | day_of_week | month | year |
+---------+---------------------+------------+-------------+-------+------+
|    1    | 2020-07-04 21:23:10 | 2020-07-04 |      4      |   7   | 2020 |
+---------+---------------------+------------+-------------+-------+------+
+------------------+------------------+---------------------+--------------+---------------+
|    product_id    | product_category | product_subcategory | product_name | product_price |
+------------------+------------------+---------------------+--------------+---------------+
| COL:ICE:COL:1048 |  Cold Beverages  |     Iced Coffee     |  Cold Brew   |      4.50     |
+------------------+------------------+---------------------+--------------+---------------+
+----------+--------------+-------------+---------+------------------+
| sales_id | sales_amount | customer_id | date_id |    product_id    |
+----------+--------------+-------------+---------+------------------+
|  100000  |    23.64     |     629     |   888   | HOT:TEA:EAR:1339 |
+----------+--------------+-------------+---------+------------------+

#### Determine the products that have experienced a significant increase in sales amount compared to the previous month. Consider a significant increase to be a growth rate of at least ***200%***. Include the product information and the corresponding months.

##### ***Hint: Combine window functions, filtering conditions, and calculations to identify products with a significant increase in sales amount compared to the previous month. Apply the growth rate threshold.***

In [27]:
%%sql 

WITH current_month_CTE AS (
    SELECT 
        p.product_id,
        p.product_name,
        MONTHNAME(d.date) AS current_sale_month,
        SUM(f.sales_amount) AS current_month_sale_total
    FROM fact_sales f 
    JOIN dim_date d ON f.date_id = d.date_id
    JOIN dim_product p ON f.product_id = p.product_id
    WHERE d.date >= DATE_SUB(CURRENT_DATE(), INTERVAL 2 MONTH)
    GROUP BY p.product_id, p.product_name, MONTHNAME(d.date)
), previous_month_CTE AS(
    SELECT
        p.product_id,
        p.product_name,
        MONTHNAME(d.date) AS previous_sale_month,
        SUM(f.sales_amount) AS previous_month_sale_total
    FROM fact_sales f
    JOIN dim_date d ON f.date_id = d.date_id
    JOIN dim_product p ON f.product_id = p.product_id
    WHERE 
        d.date >= DATE_SUB(CURRENT_DATE(), INTERVAL 3 MONTH)
        AND d.date < DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)
    GROUP BY p.product_id, p.product_name, MONTHNAME(d.date)
) 
SELECT 
    curr.product_name,
    current_sale_month,
    previous_sale_month,
    current_month_sale_total,
    previous_month_sale_total,
    (current_month_sale_total - previous_month_sale_total) / previous_month_sale_total AS growth_rate
FROM current_month_CTE AS curr 
JOIN previous_month_CTE AS prev ON curr.product_id = prev.product_id
WHERE (current_month_sale_total - previous_month_sale_total) / previous_month_sale_total >= 2
ORDER BY growth_rate DESC;

[('Black Tea', 'March', 'February', Decimal('67.01'), Decimal('9.13'), Decimal('6.339540')),
 ('Iced Earl Grey Tea', 'April', 'April', Decimal('34.78'), Decimal('5.08'), Decimal('5.846457')),
 ('Cookie', 'April', 'April', Decimal('38.38'), Decimal('6.52'), Decimal('4.886503')),
 ('Iced Chai Tea', 'May', 'April', Decimal('46.61'), Decimal('8.93'), Decimal('4.219485')),
 ('Iced Chai Tea', 'March', 'April', Decimal('45.80'), Decimal('8.93'), Decimal('4.128779')),
 ('Cinammon Roll', 'April', 'March', Decimal('30.69'), Decimal('6.00'), Decimal('4.115000')),
 ('Iced Black Tea', 'May', 'February', Decimal('37.48'), Decimal('7.67'), Decimal('3.886571')),
 ('Espresso', 'April', 'April', Decimal('32.17'), Decimal('7.08'), Decimal('3.543785')),
 ('Black Tea', 'April', 'April', Decimal('38.51'), Decimal('8.62'), Decimal('3.467517')),
 ('Espresso', 'May', 'March', Decimal('40.01'), Decimal('9.09'), Decimal('3.401540')),
 ('Cinammon Roll', 'April', 'March', Decimal('95.43'), Decimal('21.79'), Decimal('3.379532')),
 ('Chewing Gum', 'April', 'March', Decimal('59.68'), Decimal('14.27'), Decimal('3.182200')),
 ('Black Tea', 'April', 'March', Decimal('48.07'), Decimal('11.54'), Decimal('3.165511')),
 ('Trail Mix', 'March', 'April', Decimal('32.44'), Decimal('8.53'), Decimal('2.803048')),
 ('Black Tea', 'April', 'February', Decimal('34.67'), Decimal('9.13'), Decimal('2.797371')),
 ('PyBrew I Wish You Were Here Mug 12oz', 'April', 'March', Decimal('80.08'), Decimal('22.22'), Decimal('2.603960')),
 ('Chewing Gum', 'April', 'April', Decimal('50.12'), Decimal('14.41'), Decimal('2.478140')),
 ('Iced Americano', 'March', 'February', Decimal('47.81'), Decimal('13.89'), Decimal('2.442045')),
 ('Cappuccino', 'April', 'April', Decimal('28.01'), Decimal('8.16'), Decimal('2.432598')),
 ('Chai Tea', 'April', 'March', Decimal('16.65'), Decimal('5.00'), Decimal('2.330000')),
 ('PyBrew Texas Edition Mug 36oz', 'April', 'March', Decimal('75.89'), Decimal('23.22'), Decimal('2.268303')),
 ('Iced Mocha', 'April', 'April', Decimal('58.22'), Decimal('18.21'), Decimal('2.197144')),
 ('Perculator', 'April', 'April', Decimal('35.66'), Decimal('11.24'), Decimal('2.172598')),
 ('French Press', 'April', 'March', Decimal('48.81'), Decimal('15.70'), Decimal('2.108917')),
 ('Chewing Gum', 'April', 'April', Decimal('59.68'), Decimal('19.20'), Decimal('2.108333')),
 ('Iced Chai Tea', 'March', 'April', Decimal('44.07'), Decimal('14.36'), Decimal('2.068942'))]