In [1]:
%run 00_display_tables.ipynb

Successfully connected to py_brew database.
+-------------+-------------------+---------------+----------------+
| customer_id |   customer_name   | customer_city | customer_state |
+-------------+-------------------+---------------+----------------+
|     100     | Jennifer Gonzalez |   Smithland   |    Arkansas    |
+-------------+-------------------+---------------+----------------+
+---------+---------------------+------------+-------------+-------+------+
| date_id |        tmstp        |    date    | day_of_week | month | year |
+---------+---------------------+------------+-------------+-------+------+
|    1    | 2020-07-04 21:23:10 | 2020-07-04 |      4      |   7   | 2020 |
+---------+---------------------+------------+-------------+-------+------+
+------------------+------------------+---------------------+--------------+---------------+
|    product_id    | product_category | product_subcategory | product_name | product_price |
+------------------+------------------+---------------------+--------------+---------------+
| COL:ICE:COL:1048 |  Cold Beverages  |     Iced Coffee     |  Cold Brew   |      4.50     |
+------------------+------------------+---------------------+--------------+---------------+
+----------+--------------+-------------+---------+------------------+
| sales_id | sales_amount | customer_id | date_id |    product_id    |
+----------+--------------+-------------+---------+------------------+
|  100000  |    23.64     |     629     |   888   | HOT:TEA:EAR:1339 |
+----------+--------------+-------------+---------+------------------+

#### Calculate the monthly growth rate of total sales amount for each product category over the past 12 months. Include the growth rate percentage and the corresponding month.

##### *Hint: Use window functions, date manipulations, and aggregations to calculate the monthly growth rate of sales amount. Consider partitioning the data by product category.*

- `%b` format specifier returns the abbriviated month name

In [3]:
%%sql 

SELECT
  DATE_FORMAT(date, '%Y-%b') AS sale_month,
  SUM(sales_amount) AS total_sales,
  LAG(SUM(sales_amount)) OVER (ORDER BY DATE_FORMAT(date, '%Y-%b')) AS previous_month_sales
FROM
  fact_sales
  JOIN dim_date ON fact_sales.date_id = dim_date.date_id
  JOIN dim_product ON fact_sales.product_id = dim_product.product_id
WHERE
  date >= DATE_SUB(CURDATE(), INTERVAL 12 MONTH)
GROUP BY
  DATE_FORMAT(date, '%Y-%b')
ORDER BY
  sale_month;

[('2022-Aug', Decimal('6184.82'), None),
 ('2022-Dec', Decimal('7901.31'), Decimal('6184.82')),
 ('2022-Jul', Decimal('6304.00'), Decimal('7901.31')),
 ('2022-Jun', Decimal('8184.53'), Decimal('6304.00')),
 ('2022-May', Decimal('2661.15'), Decimal('8184.53')),
 ('2022-Nov', Decimal('9338.83'), Decimal('2661.15')),
 ('2022-Oct', Decimal('7705.91'), Decimal('9338.83')),
 ('2022-Sep', Decimal('6071.71'), Decimal('7705.91')),
 ('2023-Apr', Decimal('7878.20'), Decimal('6071.71')),
 ('2023-Feb', Decimal('5995.50'), Decimal('7878.20')),
 ('2023-Jan', Decimal('5560.37'), Decimal('5995.50')),
 ('2023-Mar', Decimal('9149.44'), Decimal('5560.37')),
 ('2023-May', Decimal('2144.18'), Decimal('9149.44'))]