In [1]:
%run 00_display_tables.ipynb

Successfully connected to py_brew database.
+-------------+-------------------+---------------+----------------+
| customer_id |   customer_name   | customer_city | customer_state |
+-------------+-------------------+---------------+----------------+
|     100     | Jennifer Gonzalez |   Smithland   |    Arkansas    |
+-------------+-------------------+---------------+----------------+
+---------+---------------------+------------+-------------+-------+------+
| date_id |        tmstp        |    date    | day_of_week | month | year |
+---------+---------------------+------------+-------------+-------+------+
|    1    | 2020-07-04 21:23:10 | 2020-07-04 |      4      |   7   | 2020 |
+---------+---------------------+------------+-------------+-------+------+
+------------------+------------------+---------------------+--------------+---------------+
|    product_id    | product_category | product_subcategory | product_name | product_price |
+------------------+------------------+---------------------+--------------+---------------+
| COL:ICE:COL:1048 |  Cold Beverages  |     Iced Coffee     |  Cold Brew   |      4.50     |
+------------------+------------------+---------------------+--------------+---------------+
+----------+--------------+-------------+---------+------------------+
| sales_id | sales_amount | customer_id | date_id |    product_id    |
+----------+--------------+-------------+---------+------------------+
|  100000  |    23.64     |     629     |   888   | HOT:TEA:EAR:1339 |
+----------+--------------+-------------+---------+------------------+

#### Calculate the monthly growth rate of total sales amount for `Retail` product category over the past 12 months. Include the growth rate percentage and the corresponding month.

##### *Hint: Use window functions, date manipulations, and aggregations to calculate the monthly growth rate of sales amount. Consider partitioning the data by product category.*

- `%b` format specifier returns the abbriviated month name

In [2]:
%%sql 

SELECT
    product_category,
    DATE_FORMAT(date, '%Y-%b') AS sale_month,
    SUM(sales_amount) AS total_sales,
    LAG(SUM(sales_amount)) OVER (PARTITION BY product_category ORDER BY DATE_FORMAT(date, '%Y-%b')) AS previous_month_sales
FROM
    fact_sales
    JOIN dim_date ON fact_sales.date_id = dim_date.date_id
    JOIN dim_product ON fact_sales.product_id = dim_product.product_id
WHERE
    date >= DATE_SUB(CURDATE(), INTERVAL 12 MONTH)
    AND product_category = 'Retail'
GROUP BY product_category, DATE_FORMAT(date, '%Y-%b')
ORDER BY sale_month;

[('Retail', '2022-Aug', Decimal('1601.31'), None),
 ('Retail', '2022-Dec', Decimal('2361.18'), Decimal('1601.31')),
 ('Retail', '2022-Jul', Decimal('1362.36'), Decimal('2361.18')),
 ('Retail', '2022-Jun', Decimal('2404.56'), Decimal('1362.36')),
 ('Retail', '2022-May', Decimal('466.87'), Decimal('2404.56')),
 ('Retail', '2022-Nov', Decimal('2140.65'), Decimal('466.87')),
 ('Retail', '2022-Oct', Decimal('2129.45'), Decimal('2140.65')),
 ('Retail', '2022-Sep', Decimal('1545.80'), Decimal('2129.45')),
 ('Retail', '2023-Apr', Decimal('2364.74'), Decimal('1545.80')),
 ('Retail', '2023-Feb', Decimal('1395.61'), Decimal('2364.74')),
 ('Retail', '2023-Jan', Decimal('1646.27'), Decimal('1395.61')),
 ('Retail', '2023-Mar', Decimal('2118.33'), Decimal('1646.27')),
 ('Retail', '2023-May', Decimal('546.58'), Decimal('2118.33'))]

In [18]:
%%sql 

-- using CTE incorporate the growth rate
-- move product filtering outside the CTE

WITH product_category_sales_CTE AS (
    SELECT
        product_category,
        DATE_FORMAT(date, '%Y-%b') AS sale_month,
        SUM(sales_amount) AS total_sales,
        LAG(SUM(sales_amount)) OVER (PARTITION BY product_category ORDER BY DATE_FORMAT(date, '%Y-%b')) AS previous_month_sales
    FROM
        fact_sales
        JOIN dim_date ON fact_sales.date_id = dim_date.date_id
        JOIN dim_product ON fact_sales.product_id = dim_product.product_id
    WHERE
        date >= DATE_SUB(CURDATE(), INTERVAL 12 MONTH)
    GROUP BY product_category, DATE_FORMAT(date, '%Y-%b')
    ORDER BY sale_month
)
SELECT 
    product_category,
    sale_month,
    total_sales,
    previous_month_sales,
    ROUND(((total_sales - previous_month_sales) / total_sales * 100), 2) AS growth_rate
FROM product_category_sales_CTE
WHERE product_category = 'Cold Beverages';

[('Cold Beverages', '2022-Aug', Decimal('1472.97'), None, None),
 ('Cold Beverages', '2022-Dec', Decimal('2077.39'), Decimal('1472.97'), Decimal('29.10')),
 ('Cold Beverages', '2022-Jul', Decimal('1412.19'), Decimal('2077.39'), Decimal('-47.10')),
 ('Cold Beverages', '2022-Jun', Decimal('2222.83'), Decimal('1412.19'), Decimal('36.47')),
 ('Cold Beverages', '2022-May', Decimal('555.05'), Decimal('2222.83'), Decimal('-300.47')),
 ('Cold Beverages', '2022-Nov', Decimal('2344.26'), Decimal('555.05'), Decimal('76.32')),
 ('Cold Beverages', '2022-Oct', Decimal('1540.79'), Decimal('2344.26'), Decimal('-52.15')),
 ('Cold Beverages', '2022-Sep', Decimal('1443.53'), Decimal('1540.79'), Decimal('-6.74')),
 ('Cold Beverages', '2023-Apr', Decimal('1679.94'), Decimal('1443.53'), Decimal('14.07')),
 ('Cold Beverages', '2023-Feb', Decimal('1480.28'), Decimal('1679.94'), Decimal('-13.49')),
 ('Cold Beverages', '2023-Jan', Decimal('1414.57'), Decimal('1480.28'), Decimal('-4.65')),
 ('Cold Beverages', '2023-Mar', Decimal('2594.28'), Decimal('1414.57'), Decimal('45.47')),
 ('Cold Beverages', '2023-May', Decimal('670.92'), Decimal('2594.28'), Decimal('-286.68'))]